@use "../abstracts/variables" as *;

// =============================================================================
// Typography Styles
// =============================================================================

h1, h2, h3, h4, h5, h6 {
  font-family: $font-montserrat;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

p {
  font-family: $font-pretendard;
}

code, pre {
  font-family: $font-inter;
}
