@forward "abstracts/variables";
@forward "abstracts/mixins";

@use "base/reset";
@use "base/typography";
@use "base/base";

@tailwind base;
@tailwind components;
@tailwind utilities;

// This file is the main entry point for global styles.
