@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as mix;

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputGroup {
  position: relative;
  width: 100%;
  height: 38px;
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  
  &:focus-within {
    border-color: rgba(255, 255, 255, 0.4);
    .floatingLabel {
      transform: translateY(-8px) scale(0.85);
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &.hasValue {
    .floatingLabel {
      transform: translateY(-8px) scale(0.85);
    }
    
    .input {
      padding: 14px 0 2px 8px; // Push text down
    }
  }
}

.input {
  width: 100%;
  height: 100%;
  padding: 8px;
  background: transparent;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 0.8rem;
  outline: none;
  
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #121212 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.floatingLabel {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8rem;
  pointer-events: none;
  transition: all 0.1s ease-out;
  transform-origin: left center;
}

.loginBtn {
  margin-top: 8px;
  width: 100%;
  height: 32px;
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  
  &:hover:not(:disabled) {
    filter: brightness(0.9);
  }
}

.separator {
  margin: 16px 0 18px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  
  &::before, &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  span {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.socialLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #385185; // Facebook blue standard (or create KCL var)
  color: #fff; 
  font-weight: 600;
  font-size: 0.9rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
  
  img {
    width: 16px;
    height: 16px;
  }

  span {
     color: #0095f6; // Instagram link blue
  }
}

.forgotPassword {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  text-decoration: none;
  margin-top: 12px;
  
  &:hover {
    text-decoration: underline;
  }
}

.errorMsg {
  color: $color-danger;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 10px;
}
