@use '../abstracts/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; // 모바일 터치 하이라이트 제거
}

html, body {
  width: 100%;
  height: 100%;
  background-color: $color-bg; // 테마 배경색
  color: $color-text;
  font-family: var(--font-inter), sans-serif;
}

a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; }
button { border: none; background: none; cursor: pointer; font-family: inherit; }
