@use '../../../styles/abstracts/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  color: $color-text;
}

.mainContent {
  flex: 1;
  padding-bottom: 80px; // Bottom Nav Space
  position: relative;
  z-index: $z-base;
}

.legalFooter {
  padding: 20px;
  padding-bottom: 100px; // Bottom Nav Ж│авац
  text-align: center;
  
  p {
    font-size: 0.7rem;
    color: rgba($color-text, 0.3);
    margin: 0;
  }
}
